[submodule "web/docs"]
	path = web/docs
	url = git@github.com:raisga/p4n4-docs.git
[submodule "stacks/iot"]
	path = stacks/iot
	url = git@github.com:raisga/p4n4-iot.git
[submodule "stacks/ai"]
	path = stacks/ai
	url = git@github.com:raisga/p4n4-ai.git
[submodule "stacks/edge"]
	path = stacks/edge
	url = git@github.com:raisga/p4n4-edge.git
[submodule "core/hw"]
	path = core/hw
	url = git@github.com:raisga/p4n4-hw.git
[submodule "core/lib"]
	path = core/lib
	url = git@github.com:raisga/p4n4-lib.git
[submodule "clients/cli"]
	path = clients/cli
	url = git@github.com:raisga/p4n4-cli.git
[submodule "clients/api"]
	path = clients/api
	url = git@github.com:raisga/p4n4-api.git
[submodule "clients/dashboard"]
	path = clients/dashboard
	url = git@github.com:raisga/p4n4-dashboard.git
[submodule "tools/templates"]
	path = tools/templates
	url = git@github.com:raisga/p4n4-templates.git
[submodule "tools/emu"]
	path = tools/emu
	url = git@github.com:raisga/p4n4-emu.git
[submodule "web/p4n4.com"]
	path = web/p4n4.com
	url = git@github.com:jraleman/p4n4.com.git
[submodule "web/blog"]
	path = web/blog
	url = git@github.com:raisga/p4n4-blog.git
